*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body{
    display: flex;
    align-items: center ;
    justify-content: center;
    min-height: 100vh;
    background-color:#E5E1D8 ;
}
.wrapper{
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 5px;
    background-color:#31312F ;
}
.game-details{
    color:#E5E1D8 ;
    font-size: 1.2rem;
    font-weight: 500;
    padding:20px 27px ;
    display: flex;
    justify-content: space-between;
}
.play-board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background-color: #242422;
}
.play-board .food{
    background-color: red;
}
.play-board .head{
    background-color: #C5C5B9;
}
.controls{
    display: none;
    justify-content: space-between;
}
.controls i{
   padding: 25px 0;
   color: #E5E1D8;
   text-align: center;
   cursor: pointer;
   font-size: 1.3rem ;
   width: calc(100% / 4);
   border-right: 1px solid #242422;
}

@media screen and (max-width: 800px) {
    .wrapper{
        height: 115vmin;
        width: 90vmin;
    }
    .game-details{
        font-size: 1rem;
        padding: 15px 27px;
    }
    .controls{
        display: flex;
    }
    .controls i {
        padding: 15px 0;
        font-size: 1rem;
    }
}